{% extends 'home.html' %}
{% block mainContent %}
<div class="find-tickets-container" style="overflow-y: scroll;">
    <div class="tickets-header">
        <div class="searchbar-tickets">
            <form method="POST" action="{% url 'findTickets' %}" id="form_id" enctype="multipart/form-data">
                <fieldset style="    display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 40vw;">
                    {% csrf_token %}
                    <!-- <input onkeyup="handleToLocation()" id="to" class="searchbar-tickets-from" type="text" placeholder="From Destination">
                    <button type="submit">search</button> -->
                    <input  name="Origin" id="inputOrigin" class="searchbar-tickets-from" type="text" placeholder="From Destination">
                    <input  name="Destination" id="inputDestination" class="searchbar-tickets-from" type="text" placeholder="To Destination">
                    <input  name="Departuredate" id="idDeparturedate" class="searchbar-depart-date" type="date" placeholder="Departure Date">
                    <input  name="Returndate" id="idReturndate" class="searchbar-return-date" type="date" placeholder="Return Date">
                    <input  name="uid" value="{{form.id}}" id="idReturndate" type="hidden">
                    <input  type="Submit" class="searchTicketsBtn" name="Submit" value="Search Flight" />
                </fieldset>
            </form>
        </div>
        <!-- <div id="toLocationData">

        </div> -->
        <!-- <div id="filter" class="filter">
            <p>Filters</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
              </svg>
        </div> -->
        <!-- <div id="filter-list" class="filter-list hidden-filter-list">
            <ul>
                <li>Tickets Type</li>
                <li>Price</li>
            </ul>
        </div> -->
    </div>
    <div class="tickets-results">
        <div class="results">
            {% block ticketResults %}

            {% endblock %}
        </div>
    </div>
</div>

<script>
    const filter = document.getElementById('filter');
    const filterList = document.getElementById('filter-list');
    const buffer = document.getElementById('buffer');
    filter.addEventListener('click', function() {
        if (filterList.classList.contains('hidden-filter-list')) {
            filterList.classList.remove('hidden-filter-list')
            buffer.classList.remove('buffer-hide');
        } else {
            filterList.classList.add('hidden-filter-list')
            buffer.classList.add('buffer-hide');
        }
    })

    buffer.addEventListener('click', function() {
        if (!buffer.classList.contains('buffer-hide') && !filterList.classList.contains('hidden-filter-list')) {
            buffer.classList.add('buffer-hide');
            filterList.classList.add('hidden-filter-list');
        }
    })


    $("#form_id").on("submit", function (e) {
        e.preventDefault();
        var self = $(this);
        var originGiven = $("#inputOrigin").val();
        console.log(originGiven)
        $("#inputOrigin").val(originGiven.slice(0,3));
        var destinationGiven = $("#inputDestination").val();
        $("#inputDestination").val(destinationGiven.slice(0,3));
        $("#form_id").off("submit");
        self.submit();
    });

    // const toLocationData = document.getElementById("toLocationData");

    // function handleToLocation() {
    //     let locationEl = "";
    //     const toInput = document.getElementById("to").value;
    //     if (toInput.length > 1) {
    //         fetch(`/api/v1/flight/select_destination/${toInput}`)
    //         .then((response) => response.json())
    //         .then((data) => (toLocationArray = data.data));
    //         if (toLocationArray) {
    //         toLocationData.style.display = "block";
    //         toLocationArray.map((location) => {
    //             locationEl += '<div class="card mb-3 mt-3" onclick="getToLocation(\\\\ + location.iataCode + \\\\)">\\\\ <div class="card-header"><b>Name:</b> ' + location.name + ' </div>\\\\ <div class="card-body">\\\\ City Name: ' + location.address.cityName + "\\\\ <br />\\\\ Country Name: " + location.address.countryName + '\\\\ </div>\\\\ <div class="card-footer">\\\\          <b>SubType:</b> ' + location.subType + " \\\\ </div>\\\\ </div>";
    //     });
    //     }
    //     }
    //     toLocationData.innerHTML = locationEl;
    // }

    // function getToLocation(regionCode) {
    // destinationCode = regionCode;
    // toLocationData.style.display = "none";
    // }
    const originList = document.getElementById('ui-id-1');
    originList.style.listStyle = "none";
                




</script>

<script>
    $(document).ready(function () {
        $("#inputOrigin").autocomplete({
            source: "{% url 'origin_airport_search'%}",
            minLength: 1,
            delay: 200,
        });
    });
</script>
<script>
$(document).ready(function () {
    $("#inputDestination").autocomplete({
        source: "{% url 'destination_airport_search'%}",
        minLength: 1,
        delay: 200,
    });
});
</script>
{% endblock %}